body{
    margin-left:30px;

    margin-right:40px;
}

.product-visible{
    display:flex;
    justify-content: space-between;
}
.spec-container{
    display:flex;
    justify-content: space-between;
}


.image{
    margin-top:25%;
}

.image2{
    margin-top:25%;
    
}


